[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bsTools"]
	path = bsTools
	url = https://github.com/tconwell/bstools
[submodule "dbWebForms"]
	path = dbWebForms
	url = https://github.com/cran/dbWebForms
[submodule "html5"]
	path = html5
	url = https://github.com/tconwell/html5
[submodule "pgTools"]
	path = pgTools
	url = https://github.com/tconwell/pgtools
[submodule "sqlHelpers"]
	path = sqlHelpers
	url = https://github.com/cran/sqlHelpers
[submodule "textTools"]
	path = textTools
	url = https://github.com/cran/textTools
[submodule "toolbox"]
	path = toolbox
	url = https://github.com/tconwell/toolbox
[submodule "webdeveloper"]
	path = webdeveloper
	url = https://github.com/tconwell/webdeveloper
